
.container{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 120px;
}

.container .topic{
    width: 100%;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);
}

.container .topic .title{
    font-size: 22px;
    margin-bottom: 16px;
}

.container .topic .status{
    color: #ff504f;
}

.container .topic .status.closed{
    color: #555;
    font-weight: 600;
    font-style: italic;
}

.container .topic .status.complete{
    color: #4CAF50;
}

.container .topic .button-box{
    margin-left: calc(100% - 160px);
}

.container .topic .button-box button{
    width: 140px;
    height: 36px;
    border-radius: 8px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
}

.container .topic .button-box button:hover{
    cursor: pointer;
    opacity: 0.8;
}

.container #show-answer{
    display: none;
}

.container #show-answer.complete{
    display: block;
}

.container .topic .button-box #start-exam.complete, 
.container .topic .button-box #start-exam.closed, 
.container .topic .button-box #start-exam.failure{
    display: none;
}

.container .exam{
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 320px;
}

.exam .exam__content{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 64px;
}

.container .exam__questions{
    width: 100%;
    height: 680px;
    overflow: auto;
    padding: 24px 16px;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);
}

.exam .exam__control{
    width: 320px;
    margin-left: 32px;
    padding: 0 24px;
    padding-top: 24px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);
}

.exam .exam__control h4{
    font-size: 22px;
    margin-top: 12px;
    margin-bottom: 20px;
}

.exam .exam__control-answer{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.exam .exam__control-answer .check-answer{
    width: calc(20% - 8px);
    margin: 4px;
    aspect-ratio: 1/1;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 3px 1px rgba(60,64,67,.15);
    cursor: pointer;
}

.exam .exam__control-answer .check-answer.choose{
    color: #fff;
    background-color: #4CAF50;
    box-shadow: 0 1px 3px 1px rgba(1, 190, 26, 0.15);
}

.container .countdown{
    text-align: left;
    color: #3e8e41;
    margin-left: 6px;
    margin-bottom: 24px;
}

.container .countdown span{
    font-size: 22px;
    font-weight: 600;
}

.container .countdown i{
    font-size: 24px;
    margin-right: 12px;
}

.container .exam__title{
    font-size: 28px;
    margin: 48px 0;
    width: 100%;
    text-align: center;
}

.container .question{
    width: 100%;
    padding: 16px;
}

.container .question .question__title{
    font-size: 20px;
}

.container .question .question__title .not-choose{
    font-weight: 300;
    color: #ff504f;
    font-style: italic;
    display: none;
}

.container .question .question__title label{
    font-weight: 600;
}

.container .question .question__option{
    max-width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
}

.container .question .answer__input{
    width: 24px;
    height: 24px;
    margin-right: 16px;
}
  
.container .question .answer__input:checked + label {
    color: red;
} 

.container .question .answer__input:hover,
.container .question label:hover{
    cursor: pointer;
}

#submit-button {
    font-family: 'Montserrat', sans-serif;     
    background-color: #4CAF50;
    color: white;               
    padding: 12px 26px;
    margin: 36px 0;
    border: none;   
    border-radius: 10px;        
    cursor: pointer;
    font-size: 20px;
}

#submit-button:hover {
    background-color: #3e8e41;
}

#popup .message{
    padding: 48px 64px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);
    border-radius: 10px;
    text-align: center;
}

#popup .message__content{
    font-size: 24px;
    margin-bottom: 24px;
}

#popup .message__score{
    font-size: 36px;
    font-weight: 600;
    color: #4CAF50;
}

#popup .message__content2{
    font-size: 20px;
    font-weight: 300;
    color: #333;
}

#popup .message__btn{
    background-color: #4CAF50;
    color: white;               
    padding: 12px 42px;
    margin-top: 24px;     
    border: none;   
    border-radius: 10px;        
    cursor: pointer;
    font-size: 20px;
}

#popup .message__btn:hover{
    background-color: #3e8e41;
}