
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 80px;
    background-color: #f52920;
}

.header {
    width: 1200px;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header .heading{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 32px;
    line-height: 80px;
    color: #fff;
}

.header .homepage__link{
    margin-left: 24px;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

.header .homepage__link:hover{
    opacity: 0.8;
}

body{
    background-color: #fff;
    position: relative;
}

.background{
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}

.background .background__left{
    position: absolute;
    left: 0;
    bottom: 0;
}

.background .background__right{
    position: absolute;
    right: 0;
    bottom: 0;
}

