
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 80px;
    background-color: #f52920;
}

.header {
    width: 1200px;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header .search{
    width: 420px;
    height: 36px;
    max-width: 50%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
}

.header .search #search-input{
    flex: 1;
    border-radius: 6px;
    height: 100%;
    outline: none;
    border: none;
    text-indent: 16px;
}

.header .search .search-button{
    color: #fff;
    width: 64px;
    height: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #f52920;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .search .search-button:hover{
    cursor: pointer;
    opacity: 0.8;
}

.header .search .search-button i{
    font-size: 18px;
}

.header .heading{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 32px;
    line-height: 80px;
    color: #fff;
}

.header .homepage__link{
    margin-left: 24px;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

.header .homepage__link:hover{
    opacity: 0.8;
}

body{
    background-color: #fff;
    position: relative;
}

#user-control{
    width: 64px;
    height: 32px;
    margin-right: 24px;
    background-color: transparent;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 30px;
    line-height: 32px;
    cursor: pointer;
}

#form-user::before{
    content: "";
    display: block;
    border: 12px solid transparent;
    border-bottom: 12px solid #fff;
    position: absolute;
    top: -24px;
    right: 20px;
    z-index: 10;
}

#form-user{
    position: absolute;
    top: calc(100% - 4px);
    right: 24px;
    padding: 24px 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px 1px rgba(60,64,67,.15);
    display: none;
    flex-direction: column;
}

#form-user a{
    width: 100%;
    height: 48px;
    padding: 0 24px;
    font-size: 20px;
    line-height: 48px;
    text-decoration: none;
    color: #000;
}

#form-user a:hover{
    cursor: pointer;
    background-color: #edeaea;
    color: #f52920;
}